
mixin input
  .input-wrapper 
    .input-wrapper__label 
      |#{attributes.label}
    input.input(type=attributes.type value = attributes.value placeholder = attributes.placeholder required)

mixin select
  .select-wrapper 
    .select
      select.select__select(data-select-placeholder=attributes.placeholder style='width: 100%')
        if (attributes.placeholder)
          option(value='' disabled selected)
        each item, i in attributes.options
          option(value=item)
            |#{item}

mixin radio 
  .radio(class=attributes.class) 
    label.radio__label
      input.radio__input(type="radio" name=attributes.name checked=attributes.checked)
      .radio__icon
      .radio__col 
        .radio__title
          |#{attributes.title}
        if (attributes.text)
          .radio__text 
            |#{attributes.text}
