
mixin logo-svg 
  svg(class=attributes.class width='86' height='20' viewBox='0 0 86 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_203_1095)')
      path(d='M55.7997 4.25473L51.03 10.271L43.1167 0.298096H41.3281V20H44.3905V7.26286L51.03 15.42L57.6425 7.10026V20H60.6777V0.298096H58.9433L55.7997 4.25473Z' fill='#1E1E1E')
      path(d='M11.7615 15.4471C10.8943 16.2331 10 16.6396 9.62059 16.8022H3.22493V3.55013H9.15989C10.0271 3.84823 13.9566 5.44715 13.9566 10.1355C13.9566 12.3306 13.2249 14.1192 11.7615 15.4471ZM13.4959 2.33062C11.7344 0.921402 10.0271 0.433596 9.8374 0.379396L9.62059 0.325195H0V19.9729H10.1355L10.3523 19.8916C10.542 19.8374 12.1409 19.3225 13.794 17.8862C15.3388 16.5312 17.1816 14.0921 17.1816 10.1084C17.1816 6.12465 15.1761 3.68563 13.4959 2.33062Z' fill='#1E1E1E')
      path(d='M80.1082 15.4471C79.241 16.2331 78.3467 16.6396 77.9673 16.8022H71.5716V3.55013H77.5066C78.3738 3.84823 82.3033 5.44715 82.3033 10.1355C82.3304 12.3306 81.5716 14.1192 80.1082 15.4471ZM81.8426 2.33062C80.0811 0.921402 78.3738 0.433596 78.1841 0.379396L77.9673 0.325195H68.3467V19.9729H78.4822L78.699 19.8916C78.8887 19.8374 80.4876 19.3225 82.1407 17.8862C83.6854 16.5312 85.5283 14.0921 85.5283 10.1084C85.5283 6.12465 83.5228 3.68563 81.8426 2.33062Z' fill='#1E1E1E')
      path(d='M26.5312 20H26.992H29.7291H30.1898V3.82114H26.5312' fill='#1E1E1E')
      path(d='M28.4013 1.40921C28.3742 1.38211 28.3742 1.38211 28.3471 1.35501C27.7238 0.731707 26.6127 0 24.7699 0H20.8403V3.22493H24.7699C25.7455 3.22493 26.0707 3.57724 26.2333 3.87534C26.4772 4.28184 26.4772 4.74255 26.4772 4.76965V4.93225H30.1628V4.79675C30.1628 4.74255 30.1899 4.30894 30.4609 3.90244C30.5693 3.73984 30.9216 3.19783 32.1682 3.19783H35.8539V0H32.1682C30.4609 0 29.2414 0.596206 28.4013 1.40921Z' fill='#1E1E1E')
    defs
      clippath#clip0_203_1095
        rect(width='85.5285' height='20' fill='white')

mixin catalog-svg
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_127)')
      path(d='M17.5001 5.41666H11.6667' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M8.33333 14.5833H2.5' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M15 10H5' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
    defs
      clippath#clip0_48_127
        rect(width='20' height='20' fill='white')


mixin search-svg 
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_131)')
      path(d='M9.78333 17.0667C13.8058 17.0667 17.0667 13.8058 17.0667 9.78333C17.0667 5.76086 13.8058 2.5 9.78333 2.5C5.76086 2.5 2.5 5.76086 2.5 9.78333C2.5 13.8058 5.76086 17.0667 9.78333 17.0667Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M15.0249 15.025L17.4999 17.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_48_131
        rect(width='20' height='20' fill='white')

mixin user-svg 
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_128)')
      path(d='M9.99998 11.5C12.55 11.5 14.6167 9.48333 14.6167 7C14.6167 4.51667 12.55 2.5 9.99998 2.5C7.44998 2.5 5.3833 4.51667 5.3833 7C5.3833 9.48333 7.44998 11.5 9.99998 11.5Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M5 17.5C7.24167 13.8167 12.7 13.8 14.975 17.4583L15 17.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_48_128
        rect(width='20' height='20' fill='white')

mixin heart-svg 
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_129)')
      path(d='M10 16.6667C7.825 15.9333 2.5 12.7083 2.5 7.50001C2.5 5.20001 4.36667 3.33334 6.66667 3.33334C8.03333 3.33334 9.24167 3.99168 10 5.00001C10.7583 3.98334 11.975 3.33334 13.3333 3.33334C15.6333 3.33334 17.5 5.19168 17.5 7.50001C17.5 12.7167 12.175 15.9333 10 16.6667Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_48_129
        rect(width='20' height='20' fill='white')

mixin cart-svg
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_130)')
      path(d='M14.1667 6.25H5.83333C3.99238 6.25 2.5 7.74238 2.5 9.58333V14.1667C2.5 16.0076 3.99238 17.5 5.83333 17.5H14.1667C16.0076 17.5 17.5 16.0076 17.5 14.1667V9.58333C17.5 7.74238 16.0076 6.25 14.1667 6.25Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M7 7.75V5.5C7 3.84167 8.34167 2.5 10 2.5C11.6583 2.5 13 3.84167 13 5.5V7.75' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_48_130
        rect(width='20' height='20' fill='white')

mixin intro-bg-svg 
  svg(class=attributes.class width='630' height='720' viewBox='0 0 630 720' fill='none' xmlns='http://www.w3.org/2000/svg')
    rect(x='164' width='466' height='720' fill='url(#paint0_linear_48_99)')
    g(clip-path='url(#clip0_48_99)')
      path(d='M35.7397 264.619L86.2763 303.544L2.50391 368.125L2.50391 382.722L168 382.722L168 357.73L61.008 357.73L129.528 303.544L59.6421 249.58L168 249.58L168 224.809L2.5039 224.809L2.5039 238.964L35.7397 264.619Z' fill='#EBEBEB')
      path(d='M129.756 624.014C136.358 631.091 139.773 638.39 141.138 641.486L141.138 693.681L29.8214 693.681L29.8214 645.246C32.3254 638.169 45.7563 606.1 85.1384 606.099C103.577 606.099 118.602 612.071 129.756 624.014ZM19.5775 609.859C7.74006 624.235 3.6425 638.169 3.18721 639.717L2.73193 641.486L2.73193 720L167.773 720L167.773 637.284L167.09 635.515C166.634 633.966 162.309 620.918 150.244 607.426C138.862 594.82 118.374 579.781 84.9108 579.781C51.4474 579.781 30.9596 596.147 19.5775 609.859Z' fill='#EBEBEB')
      path(d='M129.756 66.2332C136.357 73.3105 139.772 80.609 141.138 83.7053L141.138 135.901L29.8209 135.901L29.8209 87.4652C32.3249 80.3879 45.7558 48.3188 85.138 48.3188C103.577 48.0976 118.601 54.2903 129.756 66.2332ZM19.577 52.0786C7.73957 66.4544 3.64201 80.3879 3.18673 81.936L2.73144 83.7053L2.73145 162.219L167.772 162.219L167.772 79.5032L167.089 77.7339C166.634 76.1857 162.309 63.1369 150.244 49.6458C138.862 37.0393 118.374 22 84.9103 22C51.4469 22 30.9591 38.3663 19.577 52.0786Z' fill='#EBEBEB')
      path(d='M168 503.478L168 499.719L168 477.381L168 473.621L32.0977 473.621L32.0977 503.478' fill='#EBEBEB')
      path(d='M11.8374 488.218C11.6098 488.439 11.6098 488.439 11.3821 488.66C6.14634 493.747 -2.11834e-06 502.815 -1.44206e-06 517.854L0 549.923L27.0894 549.923L27.0894 517.854C27.0894 509.892 30.0488 507.238 32.5529 505.911C35.9675 503.921 39.8374 503.921 40.065 503.921L41.4309 503.921L41.4309 473.842L40.2927 473.842C39.8374 473.842 36.1951 473.621 32.7805 471.409C31.4146 470.525 26.8618 467.65 26.8618 457.476L26.8618 427.397L-5.50968e-06 427.397L-4.15712e-06 457.476C-3.53057e-06 471.409 5.00813 481.362 11.8374 488.218Z' fill='#EBEBEB')
    defs
      lineargradient#paint0_linear_48_99(x1='176.5' y1='292.5' x2='641' y2='292.5' gradientUnits='userSpaceOnUse')
        stop(stop-color='#EBEBEB')
        stop(offset='1' stop-color='white' stop-opacity='0')
      clippath#clip0_48_99
        rect(width='698' height='168' fill='white' transform='translate(0 720) rotate(-90)')

mixin intro-bg-mobile-svg 
  svg(class=attributes.class width='145' height='622' viewBox='0 0 145 622' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_183_1706)')
      path(d='M31.8186 215.998L76.8102 250.653L2.22949 308.147L2.22949 321.143L149.567 321.143L149.567 298.893L54.3144 298.893L115.317 250.653L53.0984 202.609L149.567 202.609L149.567 180.557L2.22949 180.557L2.22949 193.158L31.8186 215.998Z' fill='#EBEBEB')
      path(d='M115.519 535.96C121.396 542.26 124.436 548.758 125.652 551.515L125.652 597.983L26.5492 597.983L26.5492 554.862C28.7786 548.561 40.7358 520.011 75.7968 520.011C92.2127 520.011 105.589 525.327 115.519 535.96ZM17.4293 523.358C6.89075 536.156 3.24278 548.561 2.83746 549.939L2.43213 551.515L2.43213 621.414L149.364 621.414L149.364 547.774L148.756 546.198C148.351 544.82 144.5 533.203 133.759 521.192C123.626 509.969 105.386 496.58 75.5941 496.58C45.8024 496.58 27.5626 511.15 17.4293 523.358Z' fill='#EBEBEB')
      path(d='M115.519 39.3798C121.396 45.6806 124.436 52.1782 125.652 54.9348L125.652 101.403L26.5492 101.403L26.5492 58.2821C28.7786 51.9814 40.7358 23.431 75.7968 23.431C92.2127 23.2341 105.589 28.7473 115.519 39.3798ZM17.4293 26.7783C6.89075 39.5767 3.24278 51.9814 2.83746 53.3597L2.43213 54.9348L2.43213 124.834L149.364 124.834L149.364 51.1938L148.756 49.6186C148.351 48.2403 144.5 36.6232 133.759 24.6124C123.626 13.3891 105.386 -2.72627e-05 75.5941 -2.59969e-05C45.8024 -2.4731e-05 27.5626 14.5705 17.4293 26.7783Z' fill='#EBEBEB')
      path(d='M149.567 428.649L149.567 425.302L149.567 405.415L149.567 402.068L28.5757 402.068L28.5757 428.649' fill='#EBEBEB')
      path(d='M10.5386 415.063C10.3359 415.26 10.3359 415.26 10.1332 415.457C5.47195 419.986 -1.88591e-06 428.059 -1.28384e-06 441.448L0 469.998L24.1171 469.998L24.1171 441.448C24.1171 434.36 26.7518 431.997 28.9811 430.815C32.0211 429.043 35.4664 429.043 35.669 429.043L36.885 429.043L36.885 402.265L35.8717 402.265C35.4664 402.265 32.2237 402.068 29.1837 400.099C27.9678 399.312 23.9145 396.752 23.9145 387.694L23.9145 360.916L-4.90515e-06 360.916L-3.701e-06 387.694C-3.14319e-06 400.099 4.45862 408.96 10.5386 415.063Z' fill='#EBEBEB')
    defs
      clippath#clip0_183_1706
        rect(width='621.414' height='149.567' fill='white' transform='translate(0 621.414) rotate(-90)')

mixin features-1-svg 
  svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_204)')
      path(d='M23.1167 20.7834L24.1834 21.85L27.3834 18.65' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M35 16.4833C34.9 18.0833 34.45 21.8333 32.6833 24.4C32.05 25.3 31.2833 26.15 30.5 26.9166C30.1833 27.2333 29.8499 27.5333 29.5333 27.8167C28.0666 29.1 26.6167 30.0333 25.85 30.5166C25.4833 30.75 25.0333 30.75 24.6833 30.5166C23.3167 29.6333 19.8166 27.2333 17.7666 24.3C16.0166 21.7666 15.6 18.0667 15.5 16.4667C15.4666 16.0167 15.75 15.6 16.1834 15.4167C19.8334 13.8833 23.1 11.15 24.5 9.86667C24.9333 9.50001 25.5667 9.50001 25.9667 9.86667C26.7 10.55 27.95 11.6 29.5 12.7C29.8167 12.9166 30.15 13.1333 30.4667 13.3666C31.6334 14.1333 32.9333 14.8667 34.2833 15.4167C34.7333 15.6 35 16.0167 34.9666 16.4833H35Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M15.5 16.4667C15.5833 18.05 16.0166 21.7667 17.7666 24.3C19.8 27.2333 23.3167 29.6333 24.6833 30.5167C25.05 30.75 25.5 30.75 25.85 30.5167C26.6167 30.0333 28.05 29.1 29.5333 27.8167C29.8666 27.5334 30.2 27.2333 30.5 26.9167V28.9834C30.5 32.2834 27.8 34.9833 24.5 34.9833H11C7.69996 34.9833 5 32.2834 5 28.9834V10.9833C5 7.68335 7.69996 4.98334 11 4.98334H24.5C27.8 4.98334 30.5 7.68335 30.5 10.9833V13.35C30.1666 13.1334 29.8333 12.9167 29.5333 12.6833C27.9666 11.5833 26.7333 10.5167 26 9.85003C25.6 9.48336 24.9666 9.48336 24.5333 9.85003C23.1166 11.1334 19.85 13.8667 16.2166 15.4C15.7833 15.5833 15.5 16 15.5333 16.45L15.5 16.4667Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_48_204
        rect(width='40' height='40' fill='white')

mixin features-2-svg 
  svg(class=attributes.class width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M17.4831 3.71666L9.16644 6.85C7.24977 7.56666 5.68311 9.83333 5.68311 11.8667V24.25C5.68311 26.2167 6.98311 28.8 8.56644 29.9833L15.7331 35.3333C18.0831 37.1 21.9498 37.1 24.2998 35.3333L31.4664 29.9833C33.0498 28.8 34.3498 26.2167 34.3498 24.25V11.8667C34.3498 9.81666 32.7831 7.55 30.8664 6.83333L22.5498 3.71666C21.1331 3.2 18.8664 3.2 17.4831 3.71666Z' stroke='#292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M15.0835 19.7833L17.7668 22.4667L24.9335 15.3' stroke='#292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin features-3-svg 
  svg(class=attributes.class width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_203)')
      path(d='M28.2001 12.5L26.7335 35L7.20015 32.9833C6.30015 32.8833 5.68348 32.05 5.88348 31.1667L9.98348 12.5H28.2001V12.5Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M33.5001 30.4167L26.7168 35L28.1835 12.5L32.7168 13.95L34.1501 29.0333C34.2001 29.5833 33.9501 30.1 33.5001 30.4167Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M13.5166 14.5167L14.1333 9.43335C14.4666 6.68335 17.0666 4.71667 19.9499 5.03333C22.8333 5.35 24.8999 7.83334 24.5666 10.5833L24.0499 14.9' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_48_203
        rect(width='40' height='40' fill='white')

mixin favorite-svg 
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_218)')
      path(d='M10 16.6666C7.825 15.9333 2.5 12.7083 2.5 7.49998C2.5 5.19998 4.36667 3.33331 6.66667 3.33331C8.03333 3.33331 9.24167 3.99165 10 4.99998C10.7583 3.98331 11.975 3.33331 13.3333 3.33331C15.6333 3.33331 17.5 5.19165 17.5 7.49998C17.5 12.7166 12.175 15.9333 10 16.6666Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_48_218
        rect(width='20' height='20' fill='white')

mixin bg-svg 
  svg(class=attributes.class width='1598' height='372' viewBox='0 0 1598 372' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_140_1459)')
      path(d='M1042.55 79.1382L953.433 191.041L805.582 5.54468L772.164 5.54468L772.164 372H829.38V135.089L953.433 286.813L1076.98 132.065V372H1133.69V5.54468L1101.28 5.54468L1042.55 79.1382Z' fill='#EBEBEB')
      path(d='M219.75 287.317C203.548 301.935 186.838 309.496 179.75 312.52L60.2541 312.52L60.2541 66.0326L171.142 66.0326C187.345 71.5773 260.764 101.317 260.764 188.52C260.764 229.35 247.093 262.618 219.75 287.317ZM252.156 43.3496C219.244 17.1383 187.345 8.06509 183.8 7.05696L179.75 6.04883L0 6.04883L0 371.496L189.37 371.496L193.421 369.984C196.965 368.976 226.839 359.398 257.726 332.683C286.587 307.48 321.018 262.114 321.018 188.016C321.018 113.919 283.549 68.5529 252.156 43.3496Z' fill='#EBEBEB')
      path(d='M1496.73 287.317C1480.53 301.935 1463.82 309.496 1456.73 312.52L1337.24 312.52V66.0326L1448.12 66.0326C1464.33 71.5773 1537.75 101.317 1537.75 188.52C1538.25 229.35 1524.07 262.618 1496.73 287.317ZM1529.14 43.3496C1496.23 17.1383 1464.33 8.06509 1460.78 7.05696L1456.73 6.04883L1276.98 6.04883V371.496L1466.35 371.496L1470.4 369.984C1473.95 368.976 1503.82 359.398 1534.71 332.683C1563.57 307.48 1598 262.114 1598 188.016C1598 113.919 1560.53 68.5529 1529.14 43.3496Z' fill='#EBEBEB')
      path(d='M495.704 372H504.312H555.452H564.06V71.0732L495.704 71.0732' fill='#EBEBEB')
      path(d='M530.641 26.2114C530.135 25.7073 530.135 25.7073 529.628 25.2033C517.983 13.6098 497.223 0 462.792 0L389.373 0V59.9837L462.792 59.9837C481.02 59.9837 487.096 66.5366 490.134 72.0813C494.691 79.6423 494.691 88.2114 494.691 88.7155V91.7398L563.553 91.7398V89.2195C563.553 88.2114 564.059 80.1463 569.123 72.5854C571.148 69.561 577.73 59.4797 601.022 59.4797L669.884 59.4797V0L601.022 0C569.123 0 546.338 11.0894 530.641 26.2114Z' fill='#EBEBEB')
    defs
      clippath#clip0_140_1459
        rect(width='1598' height='372' fill='white')

mixin arrow-svg 
  svg(class=attributes.class width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_48_138)')
      path(d='M6.1665 12.3333L10.4998 8.00001L6.1665 3.66667' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_48_138
        rect(width='16' height='16' fill='white')

mixin home-svg 
  svg(class=attributes.class width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_105_2116)')
      path(d='M33.7748 18.8825C25.2873 17.99 16.7298 17.99 8.24234 18.8825C7.80484 18.935 7.36736 18.8825 6.94736 18.725C6.52736 18.5675 6.17733 18.3225 5.87983 17.99C5.59983 17.6575 5.38985 17.2725 5.30235 16.8525C5.19735 16.4325 5.21483 15.995 5.33733 15.575L6.78986 9.88749C7.12236 8.55749 7.90984 7.38498 9.01234 6.54498C10.1148 5.70498 11.4623 5.25 12.8798 5.25H29.1373C30.5198 5.25 31.8849 5.70498 32.9874 6.54498C34.0899 7.38498 34.8598 8.55749 35.2098 9.88749L36.6624 15.575C36.7849 15.995 36.8024 16.415 36.6974 16.835C36.6099 17.255 36.4174 17.64 36.1199 17.9725C35.8574 18.305 35.4724 18.55 35.0699 18.7075C34.6674 18.865 34.2298 18.9175 33.7748 18.865V18.8825Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M33.5125 18.865V30.6425C33.5125 32.27 32.8475 33.81 31.675 34.965C30.5025 36.1025 28.9099 36.75 27.2649 36.75H14.7525C13.09 36.75 11.4975 36.1025 10.3425 34.965C9.16998 33.8275 8.52246 32.27 8.52246 30.66V18.8825' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M20.7721 26.285H21.2446C22.3646 26.285 23.4496 26.7225 24.2371 27.4925C25.0246 28.2625 25.4796 29.3125 25.4796 30.415V36.75H16.5371V30.415C16.5371 29.3125 16.9746 28.2625 17.7796 27.4925C18.5671 26.7225 19.6521 26.285 20.7721 26.285V26.285Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
    defs
      clippath#clip0_105_2116
        rect(width='42' height='42' fill='white')

mixin loc-svg 
  svg(class=attributes.class width='43' height='42' viewBox='0 0 43 42' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_105_2103)')
      path(d='M21.7583 18.2C25.3247 18.2 28.2158 15.2149 28.2158 11.5325C28.2158 7.85013 25.3247 4.86499 21.7583 4.86499C18.1919 4.86499 15.3008 7.85013 15.3008 11.5325C15.3008 15.2149 18.1919 18.2 21.7583 18.2Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M21.7578 29.33V18.2' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M30.5078 23.1175C34.7253 24.4125 37.5078 26.6175 37.5078 29.12C37.5078 33.11 30.4553 36.3475 21.7578 36.3475C13.0603 36.3475 6.00781 33.11 6.00781 29.12C6.00781 26.6175 8.79031 24.395 13.0078 23.1175' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
    defs
      clippath#clip0_105_2103
        rect(width='42' height='42' fill='white' transform='translate(0.757812)')

mixin cross-svg 
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_185_5795)')
      path(d='M5 15L15 5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M15 15L5 5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_185_5795
        rect(width='20' height='20' fill='white')

mixin login-bg-svg 
  svg(class=attributes.class width='500' height='720' viewBox='0 0 500 720' fill='none' xmlns='http://www.w3.org/2000/svg')
    rect(x='163' width='337' height='720' fill='url(#paint0_linear_129_1958)')
    g(clip-path='url(#clip0_129_1958)')
      path(d='M35.3167 263.967L85.2516 302.948L2.47656 367.621L2.47656 382.239L166.002 382.239L166.002 357.211L60.2842 357.211L127.989 302.948L58.9346 248.906L166.002 248.906L166.002 224.1L2.47656 224.1L2.47656 238.275L35.3167 263.967Z' fill='#EBEBEB')
      path(d='M128.211 623.876C134.734 630.964 138.108 638.273 139.458 641.374L139.458 693.644L29.4662 693.644L29.4662 645.139C31.9404 638.051 45.2114 605.936 84.1247 605.936C102.344 605.936 117.19 611.916 128.211 623.876ZM19.3442 609.702C7.64773 624.098 3.59894 638.051 3.14908 639.602L2.69922 641.374L2.69922 720L165.775 720L165.775 637.165L165.1 635.394C164.65 633.843 160.377 620.776 148.455 607.265C137.209 594.641 116.965 579.58 83.8998 579.58C50.8347 579.58 30.5908 595.97 19.3442 609.702Z' fill='#EBEBEB')
      path(d='M128.211 65.2966C134.734 72.3841 138.108 79.693 139.458 82.7938L139.458 135.064L29.4662 135.064L29.4662 86.559C31.9404 79.4716 45.2114 47.3565 84.1247 47.3565C102.344 47.135 117.19 53.3366 128.211 65.2966ZM19.3442 51.1218C7.64773 65.5182 3.59894 79.4716 3.14908 81.0219L2.69922 82.7938L2.69922 161.42L165.775 161.42L165.775 78.5856L165.1 76.8138C164.65 75.2634 160.377 62.1959 148.455 48.6854C137.209 36.0609 116.965 21.0001 83.8998 21.0001C50.8347 21.0001 30.5908 37.3898 19.3442 51.1218Z' fill='#EBEBEB')
      path(d='M165.999 503.168L165.999 499.403L165.999 477.033L165.999 473.268L31.7148 473.268L31.7148 503.168' fill='#EBEBEB')
      path(d='M11.6965 487.886C11.4715 488.107 11.4715 488.107 11.2466 488.329C6.07317 493.423 -2.12138e-06 502.504 -1.44413e-06 517.565L0 549.68L26.7669 549.68L26.7669 517.565C26.7669 509.591 29.6911 506.933 32.1653 505.605C35.5393 503.611 39.3631 503.611 39.5881 503.611L40.9377 503.611L40.9377 473.49L39.813 473.49C39.3631 473.49 35.7642 473.268 32.3902 471.053C31.0407 470.167 26.542 467.288 26.542 457.1L26.542 426.978L-5.51758e-06 426.978L-4.16308e-06 457.1C-3.53563e-06 471.053 4.94851 481.02 11.6965 487.886Z' fill='#EBEBEB')
    defs
      lineargradient#paint0_linear_129_1958(x1='172.04' y1='292.5' x2='507.955' y2='292.5' gradientUnits='userSpaceOnUse')
        stop(stop-color='#EBEBEB')
        stop(offset='1' stop-color='white' stop-opacity='0')
      clippath#clip0_129_1958
        rect(width='699' height='166' fill='white' transform='translate(0 720) rotate(-90)')

mixin check-svg 
  svg(class=attributes.class width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M0.571289 2.74598L3.02027 5.28566L7.42843 0.714233' stroke='white' stroke-width='1.1' stroke-linecap='round' stroke-linejoin='round')

mixin filter-svg 
  svg(class=attributes.class width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M6.39723 2.5H16.7346C17.0703 2.5 17.4061 2.58336 17.6976 2.73336C17.9804 2.89169 18.2277 3.10832 18.3956 3.37499C18.5547 3.64166 18.643 3.94165 18.6342 4.24998C18.6253 4.55831 18.537 4.85835 18.3603 5.11668L15.1 9.97498C14.6494 10.65 14.4021 11.425 14.4021 12.2166V15.65C14.4021 17.2667 13.1474 17.925 11.6012 17.1666L9.71932 16.2333C9.43659 16.075 9.1892 15.85 9.01249 15.5833C8.84462 15.3167 8.74743 15.025 8.72976 14.7166V12.2166C8.72976 11.425 8.49121 10.65 8.03177 9.97498L4.78037 5.11668C4.60366 4.85835 4.5153 4.55831 4.50646 4.24998C4.49763 3.94165 4.58599 3.64166 4.74502 3.37499C4.91289 3.10832 5.15146 2.88336 5.44302 2.73336C5.73459 2.57502 6.07033 2.5 6.40607 2.5H6.39723Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M9.66602 2.50835L14.8435 10.3834' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin sort-svg 
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_183_2243)')
      path(d='M17.5004 5.30833L14.6921 2.5L11.8838 5.30833' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M17.5004 14.6917L14.6921 17.5L11.8838 14.6917' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M14.6914 2.65834V17.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M5.30833 8.12501C6.86666 8.12501 8.11666 6.86668 8.11666 5.31668C8.11666 3.76668 6.85833 2.50835 5.30833 2.50835C3.75833 2.50835 2.5 3.76668 2.5 5.31668C2.5 6.86668 3.75833 8.12501 5.30833 8.12501Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M5.30833 17.5C6.86666 17.5 8.11666 16.2417 8.11666 14.6917C8.11666 13.1417 6.85833 11.8833 5.30833 11.8833C3.75833 11.8833 2.5 13.1417 2.5 14.6917C2.5 16.2417 3.75833 17.5 5.30833 17.5Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_183_2243
        rect(width='20' height='20' fill='white')

mixin bg-mobile-svg 
  svg(class=attributes.class width='396' height='436' viewBox='0 0 396 436' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M142.468 281.696L95.5121 340.656L17.6084 242.921H0L0 436H30.1477L30.1477 311.176L95.5121 391.117L160.61 309.583L160.61 436H190.49L190.49 242.921H173.416L142.468 281.696Z' fill='#EBEBEB')
    path(d='M136.788 151.382C128.251 159.084 119.447 163.068 115.712 164.661L52.7484 164.661L52.7484 34.7913L111.176 34.7913C119.714 37.7128 158.399 53.3821 158.399 99.3279C158.399 120.84 151.195 138.369 136.788 151.382ZM153.863 22.8401C136.522 9.02983 119.714 4.24934 117.846 3.71818L115.712 3.18701L21 3.18701L21 195.734L120.781 195.734L122.915 194.938C124.783 194.407 140.523 189.36 156.798 175.285C172.005 162.005 190.147 138.103 190.147 99.0623C190.147 60.0217 170.404 36.1193 153.863 22.8401Z' fill='#EBEBEB')
    path(d='M341.788 391.382C333.251 399.084 324.447 403.068 320.712 404.661H257.748V274.791H316.176C324.714 277.713 363.399 293.382 363.399 339.328C363.665 360.84 356.195 378.369 341.788 391.382ZM358.863 262.84C341.522 249.03 324.714 244.249 322.846 243.718L320.712 243.187L226 243.187L226 435.734H325.781L327.915 434.938C329.783 434.407 345.523 429.36 361.798 415.285C377.005 402.005 395.147 378.103 395.147 339.062C395.147 300.022 375.404 276.119 358.863 262.84Z' fill='#EBEBEB')
    path(d='M282.19 196H286.726H313.672H318.208V37.4471L282.19 37.4471' fill='#EBEBEB')
    path(d='M300.435 13.8103C300.169 13.5447 300.169 13.5447 299.902 13.2791C293.766 7.17073 282.827 0 264.685 0L226 0V31.6043L264.685 31.6043C274.29 31.6043 277.491 35.0569 279.092 37.9783C281.493 41.9621 281.493 46.477 281.493 46.7426V48.336L317.777 48.336V47.0081C317.777 46.477 318.044 42.2276 320.712 38.2439C321.779 36.6504 325.247 31.3388 337.52 31.3388L373.804 31.3388V0L337.52 0C320.712 0 308.706 5.84282 300.435 13.8103Z' fill='#EBEBEB')

mixin big-arrow-svg 
  svg(class=attributes.class width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_185_5994)')
      path(d='M17.675 10H3.125' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M8.48313 16.6667L2.8498 10.475C2.61647 10.2167 2.61647 9.79167 2.8498 9.53334L8.48313 3.34167' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_185_5994
        rect(width='20' height='20' fill='white')

mixin tag-svg 
  svg(class=attributes.class width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M5.55953 20.4001L11.5995 26.4401C14.0795 28.9201 18.1062 28.9201 20.5995 26.4401L26.4529 20.5867C28.9329 18.1067 28.9329 14.0801 26.4529 11.5867L20.3995 5.56007C19.1329 4.2934 17.3862 3.6134 15.5995 3.70673L8.93286 4.02673C6.2662 4.14673 4.1462 6.26673 4.01286 8.92006L3.69286 15.5867C3.61286 17.3867 4.29286 19.1334 5.55953 20.4001Z' stroke='#292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M12.6663 16.0001C14.5073 16.0001 15.9997 14.5077 15.9997 12.6667C15.9997 10.8258 14.5073 9.3334 12.6663 9.3334C10.8254 9.3334 9.33301 10.8258 9.33301 12.6667C9.33301 14.5077 10.8254 16.0001 12.6663 16.0001Z' stroke='#292D32' stroke-width='1.5' stroke-linecap='round')

mixin protection-svg 
  svg(class=attributes.class width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_103_1022)')
      path(d='M15.833 20L18.3663 22.45L23.283 17.5333' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M21.1332 3.61666C20.4999 3.01666 19.5166 3.01666 18.8832 3.61666C16.7166 5.63332 11.6666 9.98332 6.04992 12.3667C5.38325 12.65 4.96658 13.3166 4.99991 14.05C5.14991 16.5666 5.76657 22.4 8.48324 26.4C11.6166 31.05 17.0166 34.8333 19.1166 36.2333C19.6666 36.6 20.3499 36.6 20.8999 36.2333C23.0166 34.8667 28.3166 31.15 31.4166 26.5667C34.1499 22.5167 34.8166 16.5833 34.9832 14.05C35.0332 13.3166 34.5999 12.65 33.9332 12.3667C28.3332 9.98332 23.2833 5.63332 21.1166 3.61666H21.1332Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_103_1022
        rect(width='40' height='40' fill='white')

mixin cards-svg 
  svg(class=attributes.class width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_103_1029)')
      path(d='M28.9163 10.8333V25.7667C28.9163 27.1 28.3829 28.3667 27.4496 29.3C26.5163 30.2333 25.2329 30.7667 23.9163 30.7667H16.0996C14.7663 30.7667 13.4996 30.2333 12.5663 29.3C11.633 28.3667 11.0996 27.0833 11.0996 25.7667V10.8333C11.0996 10.1833 11.2163 9.53335 11.483 8.91669C11.733 8.31669 12.0996 7.75002 12.5663 7.30002C13.033 6.83335 13.583 6.4667 14.183 6.2167C14.783 5.9667 15.4496 5.83334 16.0996 5.83334H23.9163C25.2496 5.83334 26.5163 6.36668 27.4496 7.30002C28.3829 8.23335 28.9163 9.50001 28.9163 10.8333Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M18.1338 31L19.9838 31.7333L25.4004 33.8C26.0171 34.0333 26.6671 34.15 27.3171 34.1333C27.9671 34.1333 28.6172 33.9667 29.2172 33.7C29.8172 33.4333 30.3504 33.05 30.8171 32.5667C31.2671 32.0833 31.6171 31.5333 31.8504 30.9166L34.6504 23.6333C35.1337 22.4 35.1004 21.0333 34.5838 19.8167C34.0504 18.6 33.0671 17.65 31.8504 17.1666L28.9671 16.0667' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M21.8668 31.0333L20.0168 31.7667L14.5835 33.8333C13.9668 34.0667 13.3168 34.1833 12.6668 34.1667C12.0168 34.1667 11.3669 34 10.7669 33.7333C10.1669 33.4667 9.63348 33.0833 9.16682 32.6C8.71682 32.1167 8.36683 31.5667 8.13349 30.95L5.3335 23.6667C4.86684 22.4334 4.90017 21.05 5.4335 19.85C5.96683 18.6333 6.96679 17.7 8.20012 17.2167L11.0335 16.1333' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
    defs
      clippath#clip0_103_1029
        rect(width='40' height='40' fill='white')

mixin persons-svg 
  svg(class=attributes.class width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_103_1026)')
      path(d='M14.9504 13.95C17.4671 13.95 19.5004 11.95 19.5004 9.48332C19.5004 7.01665 17.4671 5.01666 14.9504 5.01666C12.4337 5.01666 10.4004 7.01665 10.4004 9.48332C10.4004 11.95 12.4337 13.95 14.9504 13.95Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M9.86688 29.95L7.60019 28.8333C7.28352 28.6666 7.01684 28.4166 6.85017 28.1C6.6835 27.7833 6.63354 27.4167 6.68354 27.0667L7.58351 21.7833C7.75017 20.8167 8.26688 19.9333 9.03355 19.3C9.80022 18.6666 10.7669 18.3167 11.7669 18.3167H18.1668C19.1668 18.3167 20.1335 18.6666 20.9002 19.3C21.6669 19.9333 22.1668 20.8167 22.3335 21.7833L23.2335 27.0667C23.3169 27.4167 23.2668 27.7833 23.1002 28.1C22.9335 28.4166 22.6668 28.6833 22.3335 28.8167L20.0835 29.9333' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M10.7002 26.6167L11.4002 33.4167C11.4168 33.8333 11.6002 34.2167 11.8835 34.5167C12.1835 34.8 12.5668 34.9834 13.0002 35H16.7002C17.1168 34.9834 17.5168 34.8167 17.8168 34.5167C18.1168 34.2333 18.2835 33.8333 18.3002 33.4167L18.9835 26.6167' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M25.0664 5C26.2664 5 27.4331 5.46668 28.2831 6.31668C29.1331 7.15001 29.6164 8.3 29.6164 9.48334C29.6164 10.6667 29.1331 11.8 28.2831 12.65C27.4331 13.4833 26.2831 13.9667 25.0664 13.9667' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M26.75 18.3H28.2334C29.2334 18.3 30.2 18.65 30.9667 19.2834C31.7333 19.9167 32.25 20.8 32.4167 21.7667L33.3167 27.05C33.3667 27.4 33.3167 27.7667 33.15 28.0834C32.9834 28.4 32.7167 28.65 32.4 28.8167L30.1333 29.9333' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M25.0664 34.9167H26.8997C27.1164 34.9167 27.333 34.9 27.533 34.8167C27.733 34.75 27.9164 34.6333 28.0831 34.4833C28.2331 34.3333 28.3664 34.1667 28.4497 33.9667C28.5331 33.7667 28.583 33.5667 28.583 33.35L29.2831 26.55' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
    defs
      clippath#clip0_103_1026
        rect(width='40' height='40' fill='white')

mixin help-1-svg 
  svg(class=attributes.class width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M11.9998 14H12.9998C14.0998 14 14.9998 13.1 14.9998 12V2H5.99976C4.49976 2 3.18977 2.82999 2.50977 4.04999' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M2 17C2 18.66 3.34 20 5 20H6C6 18.9 6.9 18 8 18C9.1 18 10 18.9 10 20H14C14 18.9 14.9 18 16 18C17.1 18 18 18.9 18 20H19C20.66 20 22 18.66 22 17V14H19C18.45 14 18 13.55 18 13V10C18 9.45 18.45 9 19 9H20.29L18.58 6.01001C18.22 5.39001 17.56 5 16.84 5H15V12C15 13.1 14.1 14 13 14H12' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M8 22C9.10457 22 10 21.1046 10 20C10 18.8954 9.10457 18 8 18C6.89543 18 6 18.8954 6 20C6 21.1046 6.89543 22 8 22Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M16 22C17.1046 22 18 21.1046 18 20C18 18.8954 17.1046 18 16 18C14.8954 18 14 18.8954 14 20C14 21.1046 14.8954 22 16 22Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M22 12V14H19C18.45 14 18 13.55 18 13V10C18 9.45 18.45 9 19 9H20.29L22 12Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M2 8H8' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M2 11H6' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M2 14H4' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin help-2-svg 
  svg(class=attributes.class width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_88_1224)')
      path(d='M6.09998 16.99H4.79999C3.80999 16.99 3 16.18 3 15.19V11.89C3 11.4 3.41002 10.99 3.90002 10.99H6.09998C6.59998 10.99 7 11.4 7 11.89V16.09C7 16.59 6.59998 16.99 6.09998 16.99V16.99Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M5 11V9.98999C5 6.11999 8.13 2.98999 12 2.98999C15.87 2.98999 19 6.11999 19 9.98999V10.99' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M13 21H14C16.42 21 18.44 19.28 18.9 16.99' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
      path(d='M19.15 16.99H17.9C17.4 16.99 17 16.58 17 16.09V11.89C17 11.4 17.41 10.99 17.9 10.99H20.1C20.6 10.99 21 11.4 21 11.89V15.14C21 16.16 20.17 16.99 19.15 16.99Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round')
    defs
      clippath#clip0_88_1224
        rect(width='24' height='24' fill='white')

mixin help-3-svg
  svg(class=attributes.class width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M18.28 9.76007V12.9001C18.28 13.1001 18.27 13.3 18.25 13.49C18.07 15.61 16.82 16.6701 14.52 16.6701H14.21C14.01 16.6701 13.82 16.7601 13.71 16.9201L12.77 18.1801C12.35 18.7401 11.68 18.7401 11.26 18.1801L10.32 16.9201C10.22 16.7901 9.99001 16.6701 9.82001 16.6701H9.51001C7.00001 16.6701 5.75 16.0501 5.75 12.9101V9.77005C5.75 7.47005 6.80999 6.22007 8.92999 6.04007C9.11999 6.02007 9.31999 6.01007 9.51999 6.01007H14.55C17.02 6.00007 18.28 7.26007 18.28 9.76007Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
    path(d='M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin help-4-svg 
  svg(class=attributes.class width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M22 12C22 17.52 17.52 22 12 22C6.48 22 3.11 16.44 3.11 16.44M3.11 16.44H7.63M3.11 16.44V21.44M2 12C2 6.48 6.44 2 12 2C18.67 2 22 7.56 22 7.56M22 7.56V2.56M22 7.56H17.56' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin trash-svg 
  svg(class=attributes.class width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_140_1978)')
      path(d='M5.09375 9.35L6.93372 19.44C7.09372 20.34 7.88371 21 8.80371 21H15.1937C16.1137 21 16.9037 20.35 17.0637 19.44L18.9037 9.35' stroke='#737373' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M3.03125 6.18H21.0312' stroke='#737373' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M7.21875 6.18L8.68878 3.5C8.85878 3.2 9.1788 3.01 9.5188 3.01H14.4788C14.8288 3.01 15.1488 3.2 15.3088 3.5L16.7788 6.18' stroke='#737373' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M14.0122 13H9.99219' stroke='#737373' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_140_1978
        rect(width='24' height='24' fill='white')

mixin minus-svg 
  svg(class=attributes.class width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_140_1990)')
      path(d='M2.91406 7H11.0807' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_140_1990
        rect(width='14' height='14' fill='white')

mixin plus-svg 
  svg(class=attributes.class width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_140_1986)')
      path(d='M2.91406 7H11.0807' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      path(d='M7 11.0833V2.91667' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    defs
      clippath#clip0_140_1986
        rect(width='14' height='14' fill='white')

